<%= render :partial => "titulo" %>
<h1>Exibindo Restaurante</h1>
<p>
	<b>Nome: </b>
	<%= @restaurante.nome %>
</p>
<p>
	<b>Endereço: </b>
	<%= @restaurante.endereco %>
</p>
<p>
	<b>Especialidade: </b>
	<%= @restaurante.especialidade %>
</p>

<b>Nota media: <%= @restaurante.qualificacoes.average(:nota)%></b>
<b>Qualificações: <%= @restaurante.qualificacoes.count%></b>
<b>Preço Medio: <%= @restaurante.qualificacoes.average(:valor_gasto)%></b>


<%= link_to 'Qualificar este restaurante', 	:controller => 'qualificacoes', 
											:action => 'new', 
											:restaurante => @restaurante %>

<%= link_to 'Editar', { :action => 'edit', :id => @restaurante } %>
<%= link_to 'Voltar', { :action => 'index' } %>

<% unless @restaurante.comentarios.empty? %>
	<%= comentarios @restaurante %>
<% end %>
<%= novo_comentario(@restaurante)%>
